*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-table{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    /* height: 200px; */
}

.banner{
    background-image: url('../banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.link-table a{
    text-decoration: none;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    color: #333;
    font-weight: 500;
}


.fingerprint-table{
    background-color: #F7F9FB;
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
}

.fingerprint-table-parent{
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.125), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-top: 26px;
    position: relative;
}


.fingerprint-table h2{
    color: #7e7e7e;
}

.finger-img{
    position: relative;
}

.finger-img .img-parent{
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 150px;
}

.table-top{
    background: #016F92;
    border-radius: 5px 5px 0 0;
    padding: 12px 10px;
}

.finger-img .img-parent img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 100%;
}

.finger-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.finger-parent .finger-text{
    width: 550px;
}

.finger-parent h2{
    font-size: 38px;
    color: #eee;
}

.img-svg img{
    width: 70px;
    position: absolute;
}

.img-svg img:nth-child(1){
    left: -69px;
    top: 140px;
}

.img-svg img:nth-child(2){
    left: -20px;
    bottom: -30px;
}

.img-svg img:nth-child(3){
    right: -40px;
    bottom: -30px;
}

.img-svg img:nth-child(4){
    right: -90px;
    bottom: 160px;
}

.img-svg img:nth-child(5){
    right: -290px;
    bottom: -20px;
}

.search{
    display: flex;
    align-items: end;
}

.search button{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    background-color: #FB9E48;
    padding: 8px 70px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.access{
    background-color: rgba(0, 199, 139, 0.5) !important;
    color: #000;
    font-weight:500;
}

.exit{
    background-color: rgba(255, 66, 34, 0.5) !important;
    color: #000;
    font-weight:500;
}

.warning{
    background-color: rgba(244, 202, 51, 0.5) !important;
    color: #000;
    font-weight:500;
}